.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  height: 400px;
  width: 350px;
  margin: 1%;
}

.imageDescription {
  background-color: lavender;
  height: 400px;
  width: 350px;
  margin: 1%;
  border-style: solid;
}

.pictures {
  display: inline-block;

}


button {
  margin: 0 auto;
  margin-top: 2%;
  display: block;
}

.delete {
margin-bottom: 5%;
}

label {
  float: left;
}
h4 {
  padding-top: 5%;
}
form {
  display: inline-block;

}
