.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  height: 300px;
  width: 250px;
  margin: 1%;
}

.imageDescription {
  background-color: lavender;
  height: 300px;
  width: 250px;
  margin: 1%;
}

div {
  display: inline-block;
  margin: 2%;
}

button {
  margin: 0 auto;
  margin-top: 2%;
  display: block;
}

.delete {
  background-color: lightcoral;
}